@CHARSET "UTF-8";

.new {
	background-color: aqua;
	color: green;
}

.userControl {
	position: fixed;
	top: 5px;
	right: 5px;
	/* 	width: 150px; */
	margin-right: 15px;
	margin-top: 5px;
	z-index: 100;
	margin-right: 15px;
	margin-right: 15px;
}

.header {
	border: thin;
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	z-index: 10;
	width: 100%;
	font-size: 36px;
	line-height: 48px;
	/* 	background-color: #ed9320; */
	/* 	color: white; */
	position: relative;
}

.content {
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	/*
	margin-left: auto;
	margin-right: auto;*/
	width: 800px;
	border: 1px solid #ccc;
	padding: 5px;
	top: 3em;
	z-index: 5;
	/* 	background-color: #f7ca70; */
	border: 1px solid #ccc;
}

.footer {
	position: fixed;
	left: 1px;
	right: 1px;
	border-radius: 100px 100px 0px 0px;
	margin-left: 10%;
	margin-right: 10%;
	bottom: 0px;
	z-index: 2;
	background: -webkit-linear-gradient(top, rgba(12, 50, 150, 1),
		rgba(12, 50, 150, 0.3));
	background: -o-linear-gradient(bottom, rgba(12, 50, 150, 1),
		rgba(12, 50, 150, 00.3));
	background: -moz-linear-gradient(bottom, rgba(12, 50, 150, 1),
		rgba(12, 50, 150, 0.3));
	background: linear-gradient(to bottom, rgba(12, 50, 150, 1),
		rgba(12, 50, 150, 0.3));
	text-align: center;
}