@CHARSET "UTF-8";

html {
	background-color: #d2f5ff !important;
	direction: rtl;
	/* 	font-size: small; */
}

.animated .ui-progressbar-value {
	background-image: url("/CRS/resources/img/pbar-ani.gif");
}

.ui-growl {
	right: initial !important;
	left: 20px;
}

.new {
	background-color: aqua;
	color: green;
}

.loginButton {
	float: left;
	margin: auto;
}

.centerd {
	margin: auto;
	text-align: center;
}

.stackCnt {
	
}

.langSelect {
	float: left;
}

.ui-stack {
	left: 40px;
	right: initial !important;
}

.ui-selectonemenu {
	padding-right: initial !important;
	padding-left: 2em;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
	right: initial !important;
	left: 0 !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-list-item {
	text-align: right !important;
}

.ui-selectonemenu .ui-selectonemenu-label {
	text-align: right !important;
}

.ui-stack .openStack li span {
	white-space: nowrap;
	opacity: .65 !important;
	right: initial !important;
	left: 60px;
}

.ui-stack ul li img {
	margin-left: 0px !important;
	margin-right: 9px;
}

.userControl {
	position: fixed;
	top: 1px;
	left: 1px;
	width: 250px;
	/* 	width: 150px; */
	margin-left: 20px;
	margin-top: 10px;
	z-index: 2;
}

.header {
	border: thin;
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	z-index: 0;
	width: 100%;
	font-size: 36px;
	line-height: 37px;
}

.content {
	/* /margin-top: 100px; */
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #ccc;
	padding: 25px;
	top: 3em;
	border: 1px solid #ccc;
	width: 75%;
}

.content .ui-dashboard-column {
	width: 48%;
	padding: 1%;
}

.footer {
	position: fixed;
	left: 1px;
	right: 1px;
	border-radius: 100px 100px 0px 0px;
	margin-left: 10%;
	margin-right: 10%;
	bottom: 0px;
	z-index: 2;
	background: -webkit-linear-gradient(top, #d2f5ff, rgba(12, 50, 150, 0.3));
	background: -o-linear-gradient(bottom, #d2f5ff, rgba(12, 50, 150, 00.3));
	background: -moz-linear-gradient(bottom, #d2f5ff, rgba(12, 50, 150, 0.3));
	background: linear-gradient(to bottom, #d2f5ff, rgba(12, 50, 150, 0.3));
	text-align: center;
}